# NodeLx Environment Variables
# Copy this to .env and fill in real values
# NEVER commit .env to Git

# Auth
JWT_SECRET=REPLACE_WITH_A_LONG_RANDOM_STRING_64_CHARS
JWT_EXPIRES_IN=24h
COOKIE_NAME=nodelx_session

# Server
PORT=3001
NODE_ENV=development
